*{
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: whitesmoke;
    font-family: 'Quicksand', sans-serif;
    
} 

#FONDAZO {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

#banner-wrapper2 {
    max-width: 1200;
    margin: 0 auto;
    padding: 3 0 3% 0;
    text-align: center;
    font-size: 30px;
    text-transform: capitalize ;
    font-weight: bold;
}
}

#wrapper {
    max-width: 1300px;
    height: auto;
    margin: 0 auto;
    background-color: white; 
    height: max-content;

}

#banner-wrapper {
    max-width: 1200;
    margin: 0 auto;
    padding: 0 0 3% 0;
    text-decoration: none;
}
nav {
    float: right;
    padding: 25px 20px 0 0;
}

#icono-del-menu {
    display: none;
    font-size: 50px;
}

ul {
    list-style: none;
}

nav ul li {
    font-size: 150%;
    display: inline-block;
    /*float: left;*/
    padding: 10px;
}

nav ul li a {
    color: black;
}

.current {
    color: black;
}